.check {
  background-color: #303950;
}

.pie{
  height: 250px;
  background-color: #505771;
  color:white;
  text-align: center;
}

.gauge{
  height: 370px;
  background-color: #505771;
  color:white;
  text-align: center;
}

.map-card{
  height: 500px;
  //background-color: #505771;
}
/*.map{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100;
}*/
.match-parent {
  width: 100%;
  height: 100%;
}

.text{
  height:120px;
  background-color: #505771;
  font-size: 15px; 
  text-align: center; 
  color:white;
}

.number{
  font-size:xx-large;
  font-weight: 900;
}
