.check {
  background-color: red;
}

.pie{
  height: 250px;
  background-color: #505771;
}

.gauge{
  height: 370px;
  background-color: #505771;
}

.map{
  height: 500px;
  background-color: #505771;
}

.text{
  height:120px;
  background-color: #505771;
  font-size: 15px; 
  text-align: center; 
  color:white;
}

.number{
  font-size:xx-large;
  font-weight: 900;
}